Ans1. We can store a string type variable in single quote (') variable 
example beloe

In [1]:
x = 'a'

In [2]:
type(x)

str

In [3]:
x

'a'

Ans 2 . x is a string type variable . Beacause we are are declaring a variable of x we are using sigle quote(') and as per python data type it store the value as a string.
example below

In [4]:
x = 'a'

In [5]:
type(x)

str

An3. below are the following function on a variable ‘Welcome to Python foundat1on course'

In [14]:
b = 'Welcome to Python foundat1on course'

In [15]:
type(b)

str

In [18]:
b

'Welcome to Python foundat1on course'

In [20]:
b.find('o')

4

In [21]:
b.count('s')

1

In [22]:
len(b)

35

In [24]:
c = "python project"

In [29]:
d = b + c

In [30]:
print(d)

Welcome to Python foundat1on coursepython project

Ans 4 word = ‘PanaJi@12256'

In [54]:
word = 'PanaJi@12256'

In [57]:
lowercase_count = 0

In [58]:
for char in word: 
    if char.islower():
        lowercase_count +=1

In [61]:
print(f"Total number of lowercase alphabets: {lowercase_count}")

Total number of lowercase alphabets: 4

2. To find the Uppercase alphabets

In [62]:
word = 'PanaJi@12256'

In [63]:
uppercase_count = 0

In [64]:
for char in word:
    if char.isupper():
        uppercase_count +=1

In [65]:
print(f"Total number of uppercase alphabets: {uppercase_count}")

Total number of uppercase alphabets: 2

c.  To find the number of numaric in string

In [66]:
word = 'PanaJi@12256'

In [71]:
numeric_count = 0

In [72]:
for int in word:
    if int.isnumeric():
        numeric_count +=1

In [73]:
print(f"Total number of numeric in string: {numeric_count}")

Total number of numeric in string: 5

5. Write a code to store a numerical value inside a  var1able then convert it 1nto strng

In [3]:
#storing a numerical value inside a variable 
num = 60

In [4]:
num

60

In [5]:
#converting the numerical variable into string

num = str(num)

In [6]:
str(num)

'60'